<div class="section" data-ng-init="find()">
  <div style="padding-top:50px; padding-right:50px; padding-left:50px" class="row text-center">
    <h1><i class="fa fa-github fa-5x"></i></h1>
    <h1>GitaJob Stats</h1>
  </div>
  <div class="row one">
    <div class="col-md-3">
      <div class="panel status panel-default panel-transparent">
        <div class="panel-heading">
          Avg # of jobs available per day
        </div>
        <div class="panel-body fixed-panel text-center">
          <h1 class="text-center">{{averageScrapes[0].count | number: 0}}</h1>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default collapse-group">
        <div class="panel-heading">
          <div style="padding: 10px">
            <p>Most positions opened on</p>
            <div class="text-center">
              <a class="btn" class="btn" data-toggle="collapse"  data-target="#day-panel-body">
                <h1>{{moment().isoWeekday(sumDayOfWeek[0]._id.day).format('dddd')}}'s</h1>
              </a>
            </div>
            <p class="text-center">{{sumDayOfWeek[0].sum}} positions opened</p>
          </div>
        </div>
        <div id="day-panel-body" class="panel-body text-center collapse">
          <div style="padding: 10px">
            <uib-progressbar ng-repeat="r in sumDayOfWeek" value="r.sum"  max="sumDayOfWeek[0].sum">
              <i>{{moment().isoWeekday(r._id.day).format('dddd')}} {{r.sum}}</i>
            </uib-progressbar>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel panel-default panel-transparent">
        <div class="panel-heading">
          # of GitHub job crawls
        </div>
        <div class="panel-body fixed-panel text-center">
          <h1 class="text-center">{{scrapes.length}}</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="row two">
    <div class="col-md-6">
      <h1>Open jobs at GitHub</h1>
      <div id="ct-line" class="ct-perfect-fourth"></div>
    </div>
    <div class="col-md-6">
      <h1>Distribution of GitHub jobs</h1>
      <div id="ct-bar" class="ct-perfect-fourth"></div>
    </div>
  </div>
  <div class="row three">
    <div class="col-md-6">
      <div class="panel panel-default panel-transparent">
        <div class="panel-heading">
          Average lifespan of an open job
        </div>
        <div class="panel-body fixed-panel text-center">
          <h1 class="text-center">{{averageLifespan}}</h1>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default panel-transparent">
        <div class="panel-heading">
          Average lifespan of an open Engineering job
        </div>
        <div class="panel-body fixed-panel text-center">
          <h1 class="text-center">{{engineerlifespan}}</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="row three">
    <div class="col-md-4">
      <h1>Remote Jobs</h1>
      <div id="ct-pie" class="ct-perfect-fourth"></div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default panel-transparent">
        <div class="panel-heading">
          Longest living job, {{oldestAge}}
        </div>
        <div class="panel-body fixed-panel text-center">
          <h1 class=" text-center">{{oldest}}</h1>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h1>Engineering Jobs</h1>
      <div id="ct-pie2" class="inverse ct-perfect-fourth"></div>
    </div>
  </div>
</div>
