<div class="section text-center" data-ng-init="find()">
  <div style="padding-top:50px; padding-right:50px; padding-left:50px" class="row">
    <h1><i class="fa fa-github fa-5x"></i></h1>
    <h1>GitaJob Stats</h1>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="panel status panel-default panel-transparent">
        <div class="panel-heading">
          Average # of jobs available per day
        </div>
        <div class="panel-body text-center">
          <h1 class="panel-title text-center">{{averageScrapes[0].count | number: 0}}</h1>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel status panel-default panel-transparent">
        <div class="panel-heading">
          Most jobs are posted on
        </div>
        <div class="panel-body text-center">
          <h1 class="panel-title text-center">{{averageScrapesDayOfWeek[0]._id.dayOfWeek | date: 'EEEE'}}'s</h1>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel status panel-default panel-transparent">
        <div class="panel-heading">
          # of GitHub job crawls
        </div>
        <div class="panel-body text-center">
          <h1 class="panel-title text-center">{{scrapes.length}}</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h1>Open jobs at GitHub</h1>
      <div id="ct-line" class="ct-perfect-fourth"></div>
    </div>
    <div class="col-md-6">
      <h1>Distribution of GitHub jobs</h1>
      <div id="ct-bar" class="ct-perfect-fourth"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="panel status panel-default panel-transparent">
        <div class="panel-heading">
          Average lifespan of an open job
        </div>
        <div class="panel-body text-center">
          <h1 class="panel-title text-center">{{averageLifespan}}</h1>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel status panel-default panel-transparent">
        <div class="panel-heading">
          Average lifespan of an open Engineering job
        </div>
        <div class="panel-body text-center">
          <h1 class="panel-title text-center">{{engineerlifespan}}</h1>
        </div>
      </div>
    </div>
  </div>
</div>
